* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width:100%;
}


/*HEADER*/

.header + * {
    padding-top: 1rem;
}

header {
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(156, 156, 156);

    padding: 1.1rem 0;

    position: fixed;
    width:100%;
    z-index: 10;
}

.bg-orange {
    background-color: #FF6900;
}

nav li{
    display: inline-block;
    padding-right: 0.4rem;
}

.icons {
    display: inline-block;
}

.fa-regular, .fa-solid {
    padding: 0.1rem;
}

nav ul {
    list-style: none;
}

 .logo {
    width: 125px;
}


/*CARDS*/

.card {
    margin-right:2rem;
}

.card.top {
    margin-top: 7.5rem;
    margin-bottom: 2rem;
}


.relative {
    position: relative;
    width: 30%;
}
.inner {
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    display: none;
}

.outer:hover .inner {
    display: block;
}

.absolute {
    position: absolute;
}

.heart {
    top:10px;
    right: 0;

    width: 45px;
    height: 45px;

    font-size: 2rem;
    text-align: center;
    background-color:white;

    z-index: 1;

    cursor: pointer;
}

.heart:hover {
    color:red;
}

.discount {
    bottom: 95px;
    left: 0;

    width: 40px;
    height: 20px;

    padding-top: 4px;

    font-size: 0.7rem;
    text-align: center;
    background-color:red;
    color: white;
}

.eco {
    bottom: 95px;
    left: 43px;

    width: 90px;
    height: 20px;

    padding-top: 4px;

    font-size: 0.7rem;
    text-align: center;
    background-color:green;
    color: white;
}

.eco.six {
    left: 0;
}

.brand, .old-price {
    font-weight: 100;
}

.curr-price {
    color: red;
}

.old-price {
    text-decoration:line-through;
}

/*FOOTER*/

footer {
    width:100%;
    padding: 1.5rem;
    margin-top: 1rem;
    font-size:small;
}

.bg-black {
    background-color: rgb(26, 25, 25);
    color: white;
}

.foot > p  {
    padding-right: 1rem;
    font-weight: 100;
    padding-top: 0.5rem;
}

.fa-brands {
    font-size: 1rem;
    padding: 0.6rem 0.1rem 0 0; 
}

/*FLEXBOX*/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}


.flex.justify-center {
    justify-content: center;
}

.flex.align-content {
    align-content: center;
}

.flex.space-between {
    justify-content: space-between;
}



